URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.font: xft:terminus:size=9
URxvt.scrollBar: false

!! smear - dcat

URxvt*background:    #20242c
URxvt*foreground:    #b3b8c4

URxvt*color0:    #3e4853
URxvt*color1:    #b06a58
URxvt*color2:    #95b47b
URxvt*color3:    #e5c078
URxvt*color4:    #58698c
URxvt*color5:    #7b5e8d
URxvt*color6:    #82a1b2
URxvt*color7:    #cccaca

URxvt*color8:    #525c67
URxvt*color9:    #ba7e6c
URxvt*color10:   #a9c88f
URxvt*color11:   #f9d48c
URxvt*color12:   #6c7da0
URxvt*color13:   #8f72a1
URxvt*color14:   #96b5c6
URxvt*color15:   #e0dede

